In [15]:
import scipy.special as sp
import pandas as pd
from fractions import Fraction

In [16]:
df=pd.DataFrame(index=range(0, 11))
df.index.rename("n", inplace=True)
df["binom(-1/2, n)"]=df.index.map(lambda n: str(Fraction(sp.binom(-1/2, n))))
df

   binom(-1/2, n)
n
0               1
1            -1/2
2             3/8
3           -5/16
4          35/128
5         -63/256
6        231/1024
7       -429/2048
8      6435/32768
9    -12155/65536
10   46189/262144

In [22]:
str(Fraction(-4+2/3))

'-7505999378950827/2251799813685248'