In [1]:
# importing local ant module
import sys
import os
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path+"/")
import ant

# normal imports
import pandas as pd
import numpy as np

In [7]:
df=pd.DataFrame(index=range(0, 19, 1))
df.index.rename("n", inplace=True)
df['9^n mod 11']=df.index.map(lambda n: (9**n)%11)
df.T

n,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
9^n mod 11,1,9,4,3,5,1,9,4,3,5,1,9,4,3,5,1,9,4,3