In [18]:
# importing local ant module
import sys
import os
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path+"/")
import ant

# normal imports
import pandas as pd
import numpy as np

In [26]:
import math as _math # this is going in ant module
def coprimes_less_than(n):
    coprimes=[]
    for i in range(1, n):
        if _math.gcd(i, n)==1:
            coprimes.append(i)
    return coprimes

In [27]:
def primes_less_than(n):
    # TODO: there's probably a better way to do this lol
    primes=[]
    for i in range(1, n):
        if ant.is_prime(i):
            primes.append(i)
    return primes

In [41]:
df1=pd.DataFrame(index=coprimes_less_than(16))
for i in range(1,5):
    df1[str(i)]=df1.index.map(lambda n: n**i%16)
df1

     1  2   3  4
1    1  1   1  1
3    3  9  11  1
5    5  9  13  1
7    7  1   7  1
9    9  1   9  1
11  11  9   3  1
13  13  9   5  1
15  15  1  15  1

In [63]:
df3=pd.DataFrame(index=range(5))
for i in range(5):
    df3["7^"+str(i)]=df3.index.map(lambda n: ((3**n)*(7**i))%16)
df3.index=["3^"+str(x) for x in df3.index]
df3

     7^0  7^1  7^2  7^3  7^4
3^0    1    7    1    7    1
3^1    3    5    3    5    3
3^2    9   15    9   15    9
3^3   11   13   11   13   11
3^4    1    7    1    7    1

In [78]:
def primes_in_func(N, f):
    primes=[]
    i, p = 0, 0
    while p < N:
        p=f(i)
        if ant.is_prime(p):
            primes.append(p)
        i+=1
    return primes

In [79]:
primes_in_func(100, (lambda x: 4*x+1))

[1, 5, 13, 17, 29, 37, 41, 53, 61, 73, 89, 97, 101]

In [80]:
primes_in_func(100, (lambda x: 6*x+5))

[5, 11, 17, 23, 29, 41, 47, 53, 59, 71, 83, 89, 101]

In [81]:
primes_in_func(100, (lambda x: 9*x+3))

[3]